
.app-layout {
    height: 100vh;
}

.menu-sidebar {
    position: relative;
    min-height: 100vh;
}

.li-side {
    /*margin-left: -20px;*/
}

.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
}

nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
}

.app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

nz-content {
    margin: 10px;
}

.inner-content {
    padding-left: 0;
    padding-top: 20px;
    background: #fff;
    height: 10%;
}

.user-name {
    float: right;
    margin-right: 40px;
}
