<nz-card [nzTitle]="cardTitle" [nzExtra]="tabExtraTpl">
  <ng-template #cardTitle>
    <i nz-icon nzType="users"></i> {{customer.full_name}} ({{customer.phone}})
  </ng-template>
  <ng-template #tabExtraTpl>
    <button nz-button nzType="primary" (click)="openDrawer(undefined)" class="add-button"><i nz-icon nzType="plus"></i>Add
      Team
    </button>
  </ng-template>
  <nz-table #requestList [nzData]="request" nzTableLayout="fixed"
            nzSize="small"
            [nzFrontPagination]="false"
            [nzTotal]="totalElements"
            [(nzPageIndex)]="pageNumber"
            [(nzPageSize)]="pageSize"
            nzShowPagination
            nzShowSizeChanger
            nzShowQuickJumper
  >
    <thead>
    <tr>
      <th nzAlign="center">#</th>
      <th nzAlign="center">Business Type</th>
      <th nzAlign="center">Products</th>
      <th nzAlign="center">Requested Amount</th>
      <th nzAlign="center">Status</th>
      <th nzAlign="center">Able To Pay 5%</th>
      <th nzAlign="center">Have Collateral?</th>
      <th nzAlign="center">Fully Owned By Business?</th>
      <th nzAlign="center">Number Of Years IN Business</th>
      <th nzAlign="center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of requestList.data; let i = index">
      <td nzAlign="center">{{ i + 1 }}</td>
      <td nzAlign="center"> {{ data.businesses.name }} </td>
      <td nzAlign="center"> {{ data.products.name}}</td>
      <td nzAlign="center"> {{ data.requested_loan_amt}}</td>
      <td nzAlign="center">{{data.status.name}}</td>
      <td nzAlign="center">{{data.able_to_pay_5_present}}</td>
      <td nzAlign="center">{{data.have_collateral}}</td>
      <td nzAlign="center">{{data.fully_owned_by_business}}</td>
      <td nzAlign="center">{{data.no_of_year_in_business}}</td>
      <td nzAlign="center">
        <a class="edit-btn" (click)="openDrawer(data.id)"
           nz-tooltip="edit">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm="" nzPopconfirmTitle="Are you sure delete this task?"
           (nzOnConfirm)="deleteOperator(data.id)" (nzOnCancel)="cancel()">
          <i class="delete-button" nzTooltipColor="red" nz-icon nzType="delete" nzTheme="outline"
             nz-tooltip="delete"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>

</nz-card>
